<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/log-style.css">
    <title>Iniciar Sesión Cliente | TailVet</title>
</head>

<body>

    <div class="container">
        <div class="form-wrapper">
            <div class="form-container sign-in">
                <form id="loginFormCliente" action="#" method="POST" th:action="@{/login-cliente}">
                    <h1>Iniciar Sesión</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span>Ingresa tu cédula</span>
                    <input type="text" name="cedula" id="cedula" placeholder="Cédula" required>
                    <button type="submit">Iniciar Sesión</button>
                    <p th:if="${error}" th:text="${error}" class="error-message"></p>
                </form>
            </div>
            <div class="toggle">
            <div class="form-container sign-up">
                <h1>¿No tienes cuenta?</h1>
                <p>Regístrate para crear una cuenta.</p>
                <a href="/registro" class="btn-register">Registrarse</a>
            </div>
        </div>
        </div>
    </div>

</body>

</html>
