<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/seleccion-styles.css">
    <title>Seleccionar Tipo de Usuario | TailVet</title>
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="form-container">
                <h1>Selecciona tu Tipo de Usuario</h1>
                <p>Por favor, selecciona el tipo de usuario con el que deseas iniciar sesión.</p>
                <div class="user-type-selection">
                    <a href="/login-cliente" class="btn-user-type">
                        <i class="fa fa-user"></i>
                        Cliente
                    </a>
                    <a href="/login-veterinario" class="btn-user-type">
                        <i class="fa fa-user-md"></i>
                        Veterinario
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
